<br>
<div class="p-20">
  <div class="justify-between">
    <h1 class="primary">
      Editoras
    </h1>
    <ion-searchbar #barSearch
                   debounce="500"
                   placeholder="Pesquisar"
                   (ionChange)="pesquisar()">
    </ion-searchbar>
  </div>
  <br>
  <br>

  <app-lista [config]="editoras?.configuracao"
             [data]="editoras?.data"
             (adicionarClick)="adicionarClick()"
             (editarClick)="editarEditoraClicked($event)"
             (removerClick)="removerEditoraClicked($event)"
             (paginaClick)="paginaClicked($event)">
  </app-lista>

</div>

<br>
