<br>
<div class="p-20">
  <div class="justify-between">
    <h1 class="primary">
      Livros
    </h1>
    <ion-searchbar debounce="500"
                   placeholder="Por Produto"
                   (ionChange)="carregarDados()"></ion-searchbar>
  </div>

  <app-filtros [filtros]="filtros"></app-filtros>

  <div class="lista">
    <div class="justify-between">
      <h1>
        Lirvos cadastrados
      </h1>
      <ion-button fill="outline"
                  color="warning"
                  routerLink="/cadastrar-novo-produto">
        Adicionar
      </ion-button>
    </div>



  </div>
</div>
<br>
